{% extends 'ONLINE/base.html' %}
{% load static %}

{% block content %}

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <center>
      <li class="nav-item">
        <a class="nav-link active" href="#tab1">Overview</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tab2">Message from Admissions Head</a>
      </li>
      
</center>
      
    </ul>
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text"><h3>Online Registration</h3>
        <ul>
        <li>The candidate may fill the Online Application Form as given on the website along with complete details by clicking on the "APPLY NOW" tab given on the top right of the home page of the website</li>
        <li>On the Application form page submit your basic details and click &ldquo;Submit&rdquo;</li>
        <li>You would then receive the login id and password to proceed further on your mobile and email id entered</li>
        <li>Then click &ldquo;Already Enquired&rdquo; on the top right og the Application form and login to fill your application form</li>
        <li>After filling the complete form correctly and by clicking on the 'Submit' icon - the candidate will be routed to the payment gateway</li>
        <li>The payment of Rs 1500/- can be made online by using your credit card / debit card of any bank as part of the application fee (*M.Arch application fee is Rs 500/-)</li>
        <li>On successful application, the system will generate a unique Application ID which will be candidate's unique identification number throughout the admission process</li>
        <li>An 100% generated confirmation Email/SMS will be sent to the candidate&rsquo;s email id/mobile number.</li>
        </ul>
        <h3>Walk-In Registration</h3>
        <p>The prospective student may also walk-in to our admissions office at :<br /> <strong>Sushant University, Admission Office<br /> Sector 55, Golf Course Road, <br />Gurgaon, Haryana 122003</strong></p>
        <p>The candidate can pay by cash in the admissions office after filling the form. The candidate will be provided with an enquiry number at the time of registration.</p>
        <p>For any admission related query :</p>
        <p>Call us on our toll free: <strong>18002705520</strong> (from 09:00 am-05:00 pm)<br /> or E-mail us at: <a href="mailto: admissions@sushantuniversity.edu.in">admissions@sushantuniversity.edu.in</a></p>
        <strong>To see the admission procedure for your course please select the department below.</strong>
        <div id="accordion-03" class="panel-group xa-default">
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><a class="collapsed" href="#process1" data-toggle="collapse" data-parent="#accordion-2">College of Art And Architecture</a></h4>
        </div>
        <div id="process1" class="panel-collapse collapse">
        <div class="panel-body">
        <article>
        <p><img style="width: 95%; height: 100%;" src="/admin-assets/uploaddata/saaAP.jpg" alt="" /></p>
        </article>
        </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><a class="collapsed" href="#process2" data-toggle="collapse" data-parent="#accordion-2">Vatel Hotel and Tourism Business College</a></h4>
        </div>
        <div id="process2" class="panel-collapse collapse">
        <div class="panel-body">
        <article>
        <p><img style="width: 95%; height: 100%;" src="/admin-assets/uploaddata/vatelAP.jpg" alt="" /></p>
        </article>
        </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><a class="collapsed" href="#process3" data-toggle="collapse" data-parent="#accordion-2">College of Business</a></h4>
        </div>
        <div id="process3" class="panel-collapse collapse">
        <div class="panel-body">
        <article>
        <p><img style="width: 95%; height: 100%;" src="/admin-assets/uploaddata/sobAP.jpg" alt="" /></p>
        </article>
        </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><a class="collapsed" href="#process4" data-toggle="collapse" data-parent="#accordion-2">College of Engineering And Technology</a></h4>
        </div>
        <div id="process4" class="panel-collapse collapse">
        <div class="panel-body">
        <article>
        <p><img style="width: 95%; height: 100%;" src="{% static 'images/home.jpg' %}" alt="" /></p>
        </article>
        </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><a class="collapsed" href="#process5" data-toggle="collapse" data-parent="#accordion-2">College of Law</a></h4>
        </div>
        <div id="process5" class="panel-collapse collapse">
        <div class="panel-body">
        <article>
        <p><img style="width: 95%; height: 100%;" src="{% static 'images/home.jpg' %}" alt="" /></p>
        </article>
        </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><a class="collapsed" href="#process6" data-toggle="collapse" data-parent="#accordion-2">College of Design</a></h4>
        </div>
        <div id="process6" class="panel-collapse collapse">
        <div class="panel-body">
        <article>
        <p><img style="width: 95%; height: 100%;" src="{% static 'images/home.jpg' %}" alt="" /></p>
        </article>
        </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><a class="collapsed" href="#process7" data-toggle="collapse" data-parent="#accordion-2">College of Health Sciences</a></h4>
        </div>
        <div id="process7" class="panel-collapse collapse">
        <div class="panel-body">
        <article>
        <p><img style="width: 95%; height: 100%;" src="{% static 'images/home.jpg' %}" alt="" /></p>
        </article>
        </div>
        </div>
        </div>
        <div class="panel panel-default">
        <div class="panel-heading">
        <h4 class="panel-title"><a class="collapsed" href="#process8" data-toggle="collapse" data-parent="#accordion-2">College of Planning and Development</a></h4>
        </div>
        <div id="process8" class="panel-collapse collapse">
        <div class="panel-body">
        <article>
       <img style="width: 95%; height: 100%;" src="{% static 'images/library2.jpg' %}" alt="" /></p>
        </article>
        </div>
        </div>
        </div>
        </div>
        </div></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<br>
<li><a href="#tab1">Overview</a></li>
<li><a href="#tab2">Message from Admissions Head</a></li>
</ul>
<div class="tabContainer">
<div id="tab1" class="tabContent">

<div id="tab2" class="tabContent">
<h3>Message from Admissions Head</h3>
<p><em>Dear Everyone</em></p>
<p><em>CoronaVirus pandemic is hitting the nations across the globe and impacting people and their routines drastically. With so much going on around, it is essential for one to remember that "Every storm runs out of rain" and this shall pass too. Endeavouring to heighten the spirit of aspiring students, Sushant University is taking a step to nudge the sunshine in you and help you look at the positivity that lies ahead. </em></p>
<p><em>Owing to the health concerns, we have taken a step to ensure secure education for the students and thus digitalising the entire process of admissions for the batch of 2021. Sushant University is all geared to embrace the morning that follows the tough time and cater to students with quality education and international tie-ups with various countries and universities. Offering diversity in programmes and Colleges, we encourage young talent by providing them with ample exposure, merit-based scholarships, venture-funding, international internships and much more.</em></p>
<p><em>We, at Sushant University, understand how tough it is for us to stand firm while the pandemic tries to shake it all down and we stand by you until we get through this--together. We look forward to you joining the SU family and allowing us an opportunity to empower each other as we tread the path to good health, quality education and success.</em></p>
<p><em>Stay Safe, indoors and be alert! </em><em><br /> <em>Aseem Bhatnagar </em><br /> <em>Director-Admissions</em></em></p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>


{% endblock content %}