{% extends 'ONLINE/base.html' %}
{% load static %}

{% block content %}



<div class="card mb-3">
    <img class="card-img-top" src="{% static 'images/student3.jpg' %}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Student Affairs</h5>
      <p class="card-text">Student affairs, student support, or student services is the department or division of services and support for student success at institutions of higher education to enhance student growth and development in the United States and abroad.
          <br>
          [1] People who work in this field are known as student affairs practitioners or student affairs professionals. These student affairs practitioners work to provide services and support for students and drive student learning outside of the classroom at institutions of higher education.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Student Affairs</h5>
      <p class="card-text">Student affairs refers to the group of departments that use resources to achieve institutional missions while also building supportive and inclusive communities. This office ensures that appropriate and student-friendly services and programs are accessible to a school’s student body.</p>
      <p class="card-text"><small class="text-muted"></small></p>
    </div>
    <img class="card-img-bottom" src="{% static 'images/student4.jp.jpg' %}" alt="Card image cap">
  </div>

{% endblock content %}