{% extends 'ONLINE/base.html' %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <h2 class="text-center" style="color: darkblue;background-color: darkgray;box-shadow: 12px 5px sandybrown;">Lets Walk the Memory Lane</h2>
    <div class="row">
        <div class="col-sm-6">
            <img src="{% static 'images/alumini.jpg' %}" alt="" width="500px" height="800px">
        </div>
        <div class="col-sm-6">


            <div class="card text-center">
                <div class="card-header">
                    <h1 class="text-warning">First Alumni Meet</h1>
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        <marquee behavior="" direction="left">Know Everything about our Alumni Meet :
                            Become Part of It</marquee>
                    </h5>
                    <p class="card-text">Deshbandhu College under the aegis of IQAC organized its "First Alumni Meet" on
                        20th March, 2021 at 11 am via virtual platform- Zoom. The event commenced with Saraswati Vandana
                        to invoke the almighty followed by virtual tour of Deshbandhu college to bring back all the live
                        moments and memories.

                        .</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    <pre>
                        With the blessings of our Principal, 
                
                        Dr. Rajiv Aggarwal 
                   
                   and the guidance of our Convenor,
                   
                   Dr. Kamal Kumar Gupta,
                   
                   Deshbandhu College
                   
                    organized its  
                   
                   First Alumni Meet 
                   
                   on 20th March 2020 
                   
                   on Zoom Platform.
                     </pre>
                </div>


            </div>
        </div>


    </div>
</div>



<br>
<br>
<br>

{% endblock content %}