{% extends 'ONLINE/base.html' %}
{% load static %}

{% block content %}

<h1 class="text-center">STUDENT SECURITY</h1>

<marquee behavior="" direction="">
    <p class="display-4 wrapper">Introduction to Security Clearance and Background Checks</p>
</marquee>






<div class="container">
    <div class="row">
            
<div id="list-example" class="list-group mt-5">
    <a class="list-group-item list-group-item-action" href="#list-item-1">Rule 1</a>
    <a class="list-group-item list-group-item-action" href="#list-item-2">Rule 2</a>
    <a class="list-group-item list-group-item-action" href="#list-item-3">Rule 3</a>
    <a class="list-group-item list-group-item-action" href="#list-item-4">Rule 4</a>
  </div>

  <h4 class="text-success text-center">Things Every College Student Should Do Now to Get a Security Clearance</h1>
  <div data-spy="scroll" data-target="#list-example" data-offset="0" class="scrollspy-example">
    <h4 id="list-item-1">1. STOP DOING DRUGS. STOP HANGING OUT WITH PEOPLE WHO DO DRUGS.</h4>
    <p>The road to adulthood can be a bumpy one. Take it from someone who had a purple streak in her hair and wanted to marry Justin Timberlake: we all make mistakes. But if you’re contemplating a career in national security, there are some mistakes you can’t afford to make. A career in intelligence or national security will probably require a security clearance – and there are rigorous standards to get one. What’s more, that security clearance may take a long time to get.

        The good news is that you’re not powerless. Here are just five ways you can avoid missteps and get on the fast track to a successful career protecting our nation.</p>
    <h4 id="list-item-2">2. PAY YOUR TAXES. AVOID DEBT. MAKE YOUR PAYMENTS.</h4>
    <p>Consistently, year after year, the number one reason for security clearance revocation or denial is financial issues. Missing payments, defaulted loans, uncontrollable debt – these are all things Uncle Sam frowns upon. Debt reflects your decision making; a college student buying a Charger with a Hemi V-8 implies bad judgment. Should someone who makes bad personal decisions have access to America’s secrets? What’s more, people under financial pressure are vulnerable to being blackmailed. Famous traitors Aldrich Ames and Robert Hanssen both started spying for the Soviets because they were in financial trouble.

        Along the same lines, pay your taxes. At a recent meeting with background investigators, a security clearance attorney said young security clearance applicants are often denied clearances because they haven’t paid their taxes. Many claim that they were “below the threshold” of the minimum income required to pay taxes – but they’re not always right. Do your research, ask an accountant, read the IRS website; be sure that you are paying anything the law requires. Following the law is essential to acquiring and keeping a security clearance.</p>
    <h4 id="list-item-3">3. KEEP TRACK OF YOUR ADDRESSES, JOBS, CLASSMATES, AND ACQUAINTANCES.</h4>
    <p>When I applied for my first government job, I’d had seven or eight different addresses in the previous seven years. My background interviewer was suspicious of me because of the locations and jobs I had listed. I wasn’t lying – but my resume was full of errors because I couldn’t keep all my dates and locations straight.

        Don’t be like me. The security clearance process has enough hiccups and delays; save yourself some stress and keep a spreadsheet or document with your dates and locations of employment, home addresses, etc. Also, try to keep tabs on people you knew from those jobs and locations. Security clearance background investigators will need to contact your friends and acquaintances to verify the information you’ve listed on your application. Having complete and accurate contact information is another way you can spare yourself unnecessary stress and delays.</p>
    <h4 id="list-item-4">4. BE CAREFUL WHAT YOU DO ONLINE.</h4>
    <p>Thank heaven there is not photographic evidence of my purple hair or Justin Timberlake crush. Today’s youth are not so fortunate. You’ve grown up with a digital footprint that will – for better or worse – follow you for many years to come. With that said, be mindful of what you put on social media. It goes without saying that pictures showing illegal activity or anti-American comments will damage your chances. But let’s say you didn’t list any close relationships with foreign nationals on your security clearance application. Then a background investigator sees picture after picture of you on Facebook with your Iranian girlfriend – that’s going to raise red flags.

        Likewise, be careful what you do on any work or school devices. “Misuse of IT” is one of the guidelines the government will look at when evaluating you. If Uncle Sam sees that you were cruising porn sites or trading bitcoin on your work-issued laptop, it will raise questions about your trustworthiness with classified IT.</p>
  </div>
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <h3 class="text-warning">       Describe the purpose, types and benefits of a security clearance and background checks</h3>
    
        <u>
            Identify components of the application process: questionnaires, forms, fingerprint, background check,
            interview
        </u>
        <u>
            Complete and critique data from the security clearance application form
        </u>
        <u>
            Describe the transferability of various security clearances
        </u>

        <u>
            Evaluate the implications of personal lifestyle choices on the security clearance process
        </u>
        <u>
            Evaluate the implications of you and your family’s personal associations (including online) on the security
        </u>
        <u>
            clearance process
            Examine how an individual’s personal behavior (including online) can impact the polygraph process
        </u>

    </div>
</div>
{% endblock content %}