{% extends 'ONLINE/base.html' %}
{% load static %}

{% block content %}

<h2 class="text-center mt-5 bg-success">FACULITY OVER VIEW DETAILES</h2>
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'images/depart-chem.jpg' %}" alt="">
                <div class="overlay">
                    <h2>SCIENCE</h2>
                    <a class="info" href="#">more info</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'images/depart-phy.jpg' %}" alt="">
                <div class="overlay">
                    <h2>PYCHICS</h2>
                    <a class="info" href="#">more info</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'images/depart-math.jpg' %}" alt="">
                <div class="overlay">
                    <h2>MATCHES</h2>
                    <a class="info" href="#">more info</a>
                </div>
            </div>
        </div>


    </div>
</div>


<br>
<br>


<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'images/depart-comerce.jpg' %}" alt="">
                <div class="overlay">
                    <h2>SCIENCE</h2>
                    <a class="info" href="#">more info</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'images/depart-lib.jpg' %}" alt="">
                <div class="overlay">
                    <h2>PYCHICS</h2>
                    <a class="info" href="#">more info</a>
                </div>
            </div>
        </div>


        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="hovereffect">
                <img class="img-responsive" src="{% static 'images/depart-social.jpg' %}" alt="">
                <div class="overlay">
                    <h2>MATCHES</h2>
                    <a class="info" href="#">more info</a>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock content %}