{% extends "Technique/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <h1>Complete Data Science project: Business Understanding</h1>
    <h6>Project of forecasting the number of orders in a production company listed on the stock exchange based on the Global Management Challenge.</h6>
    

</div>
<div class="container">
    <img src="{% static  'images/buss.jpg' %}" alt="" width="1100px">
</div>


<div class="container mt-5">
    <h4>
        Identify data sources</h4>
<h5><li>Data that's relevant to the question. Do you have measures of the target and features that are related to the target?</li></h5>
    <h5><li> Data that's an accurate measure of your model target and the features of interest.</li></h5>

</div>
{% endblock content %}