{% extends "Technique/base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">



        <figure class="figure">
            <img src="{% static  'images/home.jpg' %}" alt="">
            <figcaption class="figure-caption"></figcaption>
        </figure>
    </div>
</div>


<div class="container">
    <div class="row data">
        <center>
            <h1 class="text-white text-center">Data Analytics Competencies
        </center>
        </h1>
        <h3 class="text-center text-white"> Data analytics competencies help define success in any data analytics role.
            The skills and abilities collected below include specific behaviors and technical skills that are
            consistently exhibited by professionals in the data analytics field.
            </p>
    </div>
</div>



<div class="container">
    <p class="text-center">Here are some of our top data analytics competencies, based on extensive research and real-world experience.</p>
</div>



<div class="container" id="step">
    <h1 class="rounder rounded-circle bg-info text-center btn-success">Business Understanding</h1>
    <h1 class="rounder rounded-circle bg-info text-center btn-info">Data Understanding</h1>
    <h1 class="rounder rounded-circle bg-info text-center btn-primary">Data Preparation</h1>
    <h1 class="rounder rounded-circle bg-info text-center btn-primary">Modelling</h1>
    <h1 class="rounder rounded-circle bg-info text-center btn-primary">Evaluation</h1>
    <h1 class="rounder rounded-circle bg-info text-center btn-primary">Deployment</h1>
  
    
   
</div>
<br>

<div class="container mt-5">
    <p><a href="" class="text-white"> Get a Free Competency Sample</a></p>
</div>



<div class="jumbotron">
    <div class="card-deck">
        
        <div class="card alert-info">
            <h5 class="card-title">Creating Data Visualizations/h5>
          <img class="card-img-top" src="{% static  'images/1dino.gif' %}" alt="Card image cap" height="350px">
          <div class="card-body">
           
            <p class="card-text text-dark">Data visualizations make trends and patterns in data easier to understand. Humans are visual creatures, and most people aren’t going to be able to get meaningful insight by looking at a giant spreadsheet of numbers. As a data analyst, you'll need to be able to create plots and charts to help communicate your data and findings visually.</p>
            <p class="card-text"><small class="text-muted text-dark">This means creating clean, visually compelling charts that will help others understand the data. It also means avoiding things that are either difficult to interpret (like pie charts) or can be misleading (like manipulating axis values).</small></p>
          </div>
        </div>
        <div class="card alert-primary">
            <h5 class="card-title">Data Cleaning and Preparation</h5>
         <img class="card-img-top" src="{% static  'images/2pattren.jpg' %}" alt="Card image cap">
          <div class="card-body">
  
            <p class="card-text text-dark">Research shows that data cleaning and preparation accounts for around 80% of the work of data professionals. This makes it perhaps the key skill for anyone serious about getting a job in data.

                Commonly, a data analyst will need to retrieve data from one or more sources and prepare the data so it is ready for numerical and categorical analysis. Data cleaning also involves handling missing and inconsistent data that may affect your analysis.
                
                </p>
            <p class="card-text"><small class="text-muted text-dark" >Data cleaning isn’t always considered “sexy”, but preparing data can actually be a lot of fun when treated as a problem-solving exercise. In any case, it's where most data projects start, so it's a key skill you'll need if you're going to become a data analyst.</small></p>
          </div>
        </div>
        <div class="card alert-warning">
         <img class="card-img-top" src="{% static  'images/first.jpg' %}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text text-dark">Often, businesses collect and store more data than they need or can handle. To turn data into actionable insights, companies often employ professionals like data analysts. Knowing what these professionals do and what skills they possess can help you plan a career in this field. In this article, we will discuss what data analysts do and outline the 10 data analysis skills they need to excel in their career.</p>
            <p class="card-text text-dark "><small class="text-muted">A data analyst collects, interprets and analyses data and turns it into insightful information. An organisation uses this information to make business decisions and enhance their growth./small></p>
          </div>
        </div>
      </div>
</div>
{% endblock content %}